.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto; /* Center the form */
  background-color: #f9f9f9;
}

/* Input fields and labels positioning */
.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
  width: 100%;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.input-with-icon {
  position: relative;
  width: 100%;
}

input[type="text"] {
  width: 80%; /* Reduced width */
  padding: 10px;
  padding-right: 40px; /* Add space for the edit icon */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="text"]:focus {
  border-color: #61dafb;
  outline: none;
  box-shadow: 0 0 5px rgba(97, 218, 251, 0.5);
}

/* Edit Icon Styling */
.edit-icon {
  /* position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%); */
  color: #61dafb;
  cursor: pointer;
  margin-left: 800px;
}

/* Dropdown Styling */
.dropdown {
  position: absolute;
  right: 10px;
  top: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown div {
  padding: 10px;
  cursor: pointer;
}

.dropdown div:hover {
  background-color: #f1f1f1;
}

/* Editable input field for labels and placeholders */
.edit-input {
  width: 80%; /* Reduced width */
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.delete-icon {

  color: #d40b15;
  cursor: pointer;

}
button {
  background-color: #61dafb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 100px; /* Added margin-bottom */
}

button:hover {
  background-color: #21a1f1;
}

/* Add styling for the new field form */
.add-field-container {
  margin-top: 20px;
  text-align: center;
}

.add-field-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-type-selection {
  margin-top: 10px;
}

.input-type-selection label {
  margin-right: 10px;
}

input[type="radio"] {
  margin-right: 10px;
}
